CIRCLE_API_KEY=TEST:your_circle_api_key_here
CIRCLE_ENTITY_SECRET=
CIRCLE_WALLET_SET_ID=
CIRCLE_BLOCKCHAIN=ARC-TESTNET
CIRCLE_ACCOUNT_TYPE=SCA
CIRCLE_USDC_TOKEN_ADDRESS=
CUERATE_ALLOW_LIVE_TRANSFERS=false
